.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
  inline-size: 50px;
  aspect-ratio: 1/1;
  object-fit: contain;

  & img {
    inline-size: 100%;
  }
}