.header {
  margin-block-end: calc(var(--size-unit) * 16);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: calc(var(--size-unit) * 16);
}

.header__logo {
  inline-size: 6dvw;
  max-inline-size: calc(var(--size-unit) * 24);
  aspect-ratio: 1/1;

  & > img {
    inline-size: 100%;
  }
}

.header__menu {
  display: flex;
  gap: 1rem;
}
