:root {
  /* Title font sizes */
  --title-l-size: clamp(2.75rem, 3vw, 1.8rem);
  --title-m-size: clamp(1.875rem, 2vw, 1.375rem);
  --title-s-size: clamp(1.375rem, 1.5vw, 1.2rem);
  --title-xs-size: clamp(1.125rem, 1.25vw, 1rem);
  /* Colors */
  --accent-color-fb: #d85827;
  --accent-color-p3: color(display-p3 0.79 0.38 0.21);
  --accent-color: var(--accent-color-p3, --accent-color-fb);
  --hint-color-fb: #F5F3F7;
  --hint-color-p3: color(display-p3 0.96 0.95 0.97);
  --hint-color: var(--hint-color-p3, --hint-color-fb);
  --border-color-fb: #E5E0EB;
  --border-color-p3: color(display-p3 0.89 0.88 0.92);
  --border-color: var(--border-color-p3, --border-color-fb);
  --disabled-color-fb: #D9D1E0;
  --disabled-color-p3: color(display-p3 0.85 0.82 0.87);
  --disabled-color: var(--disabled-color-p3, --disabled-color-fb);
  --spacer-color-fb: #D4D2D5;
  --spacer-color-p3: color(display-p3 0.83 0.82 0.83);
  --spacer-color: var(--spacer-color-p3, --spacer-color-fb);
  --bkg-light-color-fb: #4B3A5A;
  --bkg-light-color-p3: color(display-p3 0.28 0.23 0.34);
  --bkg-light-color: var(--bkg-light-color-p3, --bkg-light-color-fb);
  /* Sizes */
  --size-unit: 4px;
}
