<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alena Batitskaia’ Personal Blog</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="page">
    <header class="header header__main">
      <div class="header__wrapper">
        <a href="/" class="logo header__logo">
          <img src="/images/logo.svg" alt="The head of the fox in glasses">
        </a>
        <nav class="menu header__menu">
          <a href="/" class="menu__item">Home</a>
          <a href="/now" class="menu__item">Now</a>
          <a href="/activities" class="menu__item">Activities</a>
          <a href="/kulichi" class="menu__item">Kulichi</a>
          <a href="#contacts" class="menu__item">Contacts</a>
        </nav>
      </div>
      <h1 class="title">{{ title }}</h1>
      <p class="subtitle">{{ subtitle }}</p>
    </header>
    <main>
      {{ content }}
    </main>
  </div>
</body>

</html>